// 基础颜色变量
$blue: #1989FA;
$green: #19be6b;
$red: #ed3f14;
$orange: #ff9900;
$black: #000000;
$white: #ffffff;

// $blue: rgb(25, 137, 250);
// $green: rgb(25, 190, 107);
// $red: rgb(237, 63, 20);
// $orange: rgb(255, 153, 0);
// $black: rgb(0, 0, 0);
// $white: rgb(255, 255, 255);

// 文本颜色变量
$titleColor: #1c2438;
$textColor: #495060;
$tipsColor: #80848f;
$borderColor: #e9eaec;
$bgColor: #f8f8f9;
// $titleColor: rgb(28, 36, 56);
// $textColor: rgb(73, 80, 96);
// $tipsColor: rgb(128, 132, 143);
// $borderColor: rgb(233, 234, 236);
// $bgColor: rgb(248, 248, 249);

// 其他颜色变量
$cardColor: #f6f6f6;
// $cardColor: rgb(246, 246, 246);

// 字体大小变量
$smallerFont: 10px;
$smallFont: 12px;
$normalFont: 14px;
$largeFont: 16px;
$largerFont: 18px;