.members-list-container {
  width: 100%;

  .members-wrapper {
    display: flex;
    align-items: center;

    .right {
      flex: 1;
      padding: 15px 0;
      border-bottom: 1px solid $bgColor;
      box-sizing: border-box;
    }
  }
}
