.apply-container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;
  box-sizing: border-box;

  .apply-side {
    display: flex;
    line-height: 18px;
  }

  .delete-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
}