.evaluate-container {
  width: 100%;

  // 维修信息
  .evaluate-header {
    display: flex;
    border-bottom: 1px solid $bgColor;

    .left {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: rgba(25, 137, 250, .8);
      box-shadow: 1px 1px 2px #fff;
      text-shadow: 1px 1px 1px rgba(25, 137, 250, .8),
      -1px -1px 1px #fff;
    }

    .right {
      flex: 1;
      line-height: 18px;
    }
  }

  // 评分
  .evaluate-rate {
    text-align: center;
  }
}