.chart-container {
  // width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .chart-wrapper {
    flex-shrink: 0;
    width: 100px;

    .chart-box {
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img {
        height: 80px;
        width: 100%;
      }

      .chart-word {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}