.records-container {
  width: 100%;

  // 头部
  .records-header {
    width: auto;
    overflow-x: auto;

    .records-wrapper {
      height: 100%;
      margin-right: 10px;
      background: $cardColor;
      border-radius: 5px;

      .records-wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .records-name {
          flex: 1;
        }

        .records-like {
          display: flex;
          align-items: center;

          img {
            width: 16px;
            height: 16px
          }
        }
      }

      .records-info,
      .records-info p {
        line-height: 18px;
      }
    }

  }

  // 内容
  .side {
    display: flex;
    align-items: center;

    .add {
      border-right: 1px solid $tipsColor;
    }

    p {
      color: $blue;
    }
  }
}
