.institution-container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;

  .title {
    line-height: 22px;
  }

  .tips-box {
    flex-wrap: wrap;
  }

  .content,
  .content p {
    line-height: 20px;
  }
}