html,
body {
  font-family: PingFangSC-Regular, sans-serif;
  font-size: $normalFont;
  color: $textColor;
  line-height: 130%;
  background: $bgColor;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  /* 不予许选中文本 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// 基础字体样式
.we-title {
  font-size: $largeFont;
  color: $titleColor;
  line-height: 130%;
}

.we-text {
  font-size: $normalFont;
  color: $textColor;
  line-height: 130%;
}

.we-tips {
  font-size: $smallFont;
  color: $tipsColor;
  line-height: 130%;
}

// 1-6行显示，多出部分以省略号...显示
.we-line-1,
.we-line-2,
.we-line-3,
.we-line-4,
.we-line-5,
.we-line-6 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
}

.we-line-1 {
  -webkit-line-clamp: 1;
}

.we-line-2 {
  -webkit-line-clamp: 2;
}

.we-line-3 {
  -webkit-line-clamp: 3;
}

.we-line-4 {
  -webkit-line-clamp: 4;
}

.we-line-5 {
  -webkit-line-clamp: 5;
}

.we-line-6 {
  -webkit-line-clamp: 6;
}

// 清除浮动
.we-clear-float:before,
.we-clear-float:after {
  content: '';
  display: table;
}

.we-clear-float {
  clear: both;
}

.we-clear-float {
  zoom: 1;
}

// border边框样式
.we-border-0 {
  border: 0;
}

.we-border-1 {
  border: 1px solid $borderColor;
  box-sizing: border-box;
}

.we-border-top-1 {
  border-top: 1px solid $borderColor;
  box-sizing: border-box;
}

.we-border-bottom-1 {
  border-bottom: 1px solid $borderColor;
  box-sizing: border-box;
}

.we-border-left-1 {
  border-left: 1px solid $borderColor;
  box-sizing: border-box;
}

.we-border-right-1 {
  border-right: 1px solid $borderColor;
  box-sizing: border-box;
}

// 间距
.we-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

// 底部固定定位盒子
.we-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

// 提交按钮上外边距
.we-margin-btn {
  margin-top: 50px;
  margin-bottom: 30px;
}

.we-shadow {
  border: 1px solid $borderColor;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $borderColor,
  -2px -2px 5px $borderColor;
}

// flex 布局
.we-flex-al,
.we-flex-jc,
.we-flex-al-jc,
.we-flex-js-al,
.we-flex {
  display: -webkit-flex;
  display: flex;
}

.we-flex-al {
  align-items: center;
}

.we-flex-jc {
  justify-content: space-between;
}

.we-flex-al-jc,
.we-flex-js-al {
  align-items: center;
  justify-content: space-between;
}

.we-nowrap {
  white-space: nowrap;
}

.we-flex-1 {
  flex: 1;
}